@import "partials/variables";
@import "partials/mixins";

@import "partials/controls/button";
@import "partials/controls/currentGuildBar";
@import "partials/controls/guildList";

@import "partials/navigation";

@import "partials/pages/home";
@import "partials/pages/commandList";
@import "partials/pages/commandOptions";


body
{
    background: $color-nano;
    font-family: $font-stack;
    color: $color-white;
}

a
{
    color: $color-range;
    text-decoration: none;
    @include default-transition();

    &:active
    {
        color: $color-nanolightlight;
    }

    &:hover
    {
        color: $color-white;
    }
}

h6
{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: normal;
}

input[type=text]
{
    background-color: $color-nanolight;
    border: none;
    border-radius: 0.3rem;
    color: $color-white;

    &:focus
    {
        outline: none;
        border: none;
    }
}

form
{
    margin: 0;
}

hr
{
    border-color: $color-nanolightlight;
}
