@import "partials/variables";
@import "partials/mixins";

@import "partials/controls/button";
@import "partials/controls/currentGuildBar";
@import "partials/controls/guildList";

@import "partials/navigation";

@import "partials/pages/home";


body
{
    background: $color-nano;
    font-family: $font-stack;
    color: $color-white;
}

a
{
    color: $color-range;
    text-decoration: none;
    @include default-transition();

    &:active
    {
        color: $color-nanolightlight;
    }

    &:hover
    {
        color: $color-white;
    }
}

h6
{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: normal;
}
