@import "variables";
@import "mixins";

body
{
    background: $color-nano;
    font-family: $font-stack;
}

#navigation
{
    text-align: center;
    padding: 10px 0px;

    ul
    {
        list-style: none;

        li
        {
            display: inline;
            margin: 5px 30px;

            a
            {
                text-decoration: none;
                color: $color-white;
                @include default-transition ();

                &:hover
                {
                    color: $color-range;
                }
            }
        }
    }
}