.blobList
{
    ul
    {
        background-color: $color-nanolight;
        border-radius: 0.3rem;
        padding-top: 10px;
        @include default-shadow();

        li
        {
            display: inline-block;
            border: 1px solid $color-white;
            border-radius: 0.3rem;
            padding: 3px 7px;
            margin-right: 10px;
            margin-left: 10px;

            .blobRemove
            {
                float: left;
                width: 7px;
                border: 1px solid $color-white;
                padding: 2px;
                border-radius: 100%;
                margin-top: 3px;
                margin-right: 5px;
            }

            .blobText
            {
                float: left;
                margin: 0;
                color: $color-white;
                font-size: 1.3rem;
            }
        }

        .blobAdd
        {
            .button
            {
                width: 100%;
                box-shadow: none;
                background-color: $color-nanolight;
                margin: 0;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }
}

#blobPicker
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    .modal
    {
        background-color: $color-nanolight;
        margin: 15% auto;
        padding: 20px;
        padding-bottom: 45px;
        width: 80%;
        border-radius: 0.3rem;
        box-sizing: border-box;
        animation-name: animatetop;
        animation-duration: 400ms;
        position: relative;
        @include default-shadow();

        h6
        {
            font-weight: bold;
            letter-spacing: 0.1rem;
            font-size: 2rem;
        }

        .close
        {
            float: right;
            background-color: transparent;
            box-shadow: none;
            padding: 0;
            margin-bottom: 0;

            &:hover, &:focus
            {
                cursor: pointer;
            }
        }
    }
}

#blobPicker
{
    ul.roleList
    {
        list-style-type: none;
    
        li.role
        {
            display: inline-block;
            margin-right: 10px;
            margin-left: 10px;

            .roleAdd
            {
                float: left;
                width: 5px;
                border: 1px solid $color-white;
                padding: 3px;
                border-radius: 100%;
                margin-top: 4px;
                margin-right: 5px;
                transform: rotate(45deg);
            }

            a
            {
                color: $color-white;
                text-decoration: none;
                border: 1px solid $color-white;
                border-radius: 0.3rem;
                display: inline-block;
                padding: 5px 10px;

                &:hover
                {
                    cursor: pointer;
                }

                p
                {
                    font-size: 1.3rem;
                    margin: 0;
                    float: left;
                }
            }
        }
    }
}

@media all and (min-width: $break-small)
{
    #blobPicker
    {
        .modal
        {
            width: 85%;
        }
    }
}

@media all and (min-width: $break-large)
{
    #blobPicker
    {
        .modal
        {
            width: 60%;
        }
    }
}

@media all and (min-width: $break-larger)
{
    #blobPicker
    {
        .modal
        {
            width: 40%;
        }
    }
}

@keyframes animatetop
{
    from
    {
        top: -300px;
        opacity: 0;
    }

    to
    {
        top: 0;
        opacity: 1;
    }
}
