.blobList
{
    ul
    {
        background-color: $color-nanolight;
        border-radius: 0.3rem;
        padding-top: 10px;
        @include default-shadow();

        li
        {
            display: inline-block;
            border: 1px solid $color-white;
            border-radius: 0.3rem;
            padding: 3px 7px;
            margin-right: 10px;
            margin-left: 10px;

            .blobRemove
            {
                float: left;
                width: 7px;
                border: 1px solid $color-white;
                padding: 2px;
                border-radius: 100%;
                margin-top: 3px;
                margin-right: 5px;
            }

            .blobText
            {
                float: left;
                margin: 0;
                color: $color-white;
                font-size: 1.3rem;
            }
        }

        .blobAdd
        {
            .button
            {
                width: 100%;
                box-shadow: none;
                background-color: $color-nanolight;
                margin: 0;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }
}
