@using System.Security.Claims
@using System.Linq
@model List<DiscordGuildModel>

<section id="dashboard">
    
    <div class="row user-profile">
        <div class="twelve columns">
            <div>
                <div class="profile-image">
                    <img src="@($"https://cdn.discordapp.com/avatars/{User.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value}/{User.FindFirst(c => c.Type == "urn:discord:avatar")?.Value}.png")" alt="Avatar">
                </div>
                <div class="profile-name">
                    <p>@User.FindFirst(c => c.Type == ClaimTypes.Name)?.Value</p>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <h6 class="sub-header">YOUR SERVERS</h6>

    @foreach (DiscordGuildModel g in Model)
    {
        <div class="row guild">
            <a href="" class="twelve columns">
                <div class="guild-icon">
                    <img src="@($"https://cdn.discordapp.com/icons/{g.Id}/{g.Icon}.png")">
                </div>
                <div class="guild-name">
                    <p>@g.Name</p>
                </div>
            </a>
        </div>
    }
</section>