@model List<DiscordGuildModel>

<section id="dashboard">
    
    @await Html.PartialAsync("DashboardProfilePartial")

    <hr>

    <h6 class="sub-header">YOUR SERVERS</h6>

    @foreach (DiscordGuildModel g in Model)
    {
        <div class="row guild bar">
            <a asp-controller="Dashboard" asp-action="GuildSettings" asp-route-id="@g.Id" class="twelve columns">
                <div class="guild-icon">
                    <img src="@($"https://cdn.discordapp.com/icons/{g.Id}/{g.Icon}.png")">
                    @if (g.HasBotMyst)
                    {
                        <img class="checkmark tooltip" src="~/img/checkmark-icon.svg">
                        <div class="tooltip-text">
                            BotMyst is in the <strong>@g.Name</strong> server
                        </div>
                    }
                </div>
                <div class="guild-name">
                    <p>@g.Name</p>
                </div>
            </a>
        </div>
    }
</section>