*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

appsettings.json

.sass-cache/
css

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
Migrations/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
obj/

# Visual Studio 2015
.vs/

# Databases
*.db