$primary-color: #222
$accent-color: #ee720d

=transition()
    -webkit-transition: all 200ms ease-in-out
    -moz-transition: all 200ms ease-in-out
    -ms-transition: all 200ms ease-in-out
    -o-transition: all 200ms ease-in-out
    transition: all 200ms ease-in-out

.button-primary
    background-color: $accent-color !important
    border-color: $accent-color !important

.sub-header
    font-weight: bold
    letter-spacing: .2rem
    font-size: 1.4rem
    line-height: 1.6

.tooltip
    position: relaive

    &:hover + .tooltip-text
        visibility: visible
        opacity: 0.9
        +transition()

.tooltip-text
    visibility: hidden
    width: 250px
    background-color: $primary-color
    color: white
    text-align: center
    padding: 5px 0
    border-radius: 4px
    position: absolute
    z-index: 1
    opacity: 0
    margin-left: -97px
    margin-top: 5px

    &:after
        content: " "
        position: absolute
        bottom: 100%
        left: 50%
        margin-left: -5px
        border-width: 5px
        border-style: solid
        border-color: transparent transparent $primary-color transparent

.enabled
    color: $accent-color

body
    background: white

#navigation
    ul
        list-style: none
        text-align: center

        li
            display: inline

            a
                text-decoration: none
                text-transform: uppercase
                font-weight: bold
                font-size: 11px
                letter-spacing: .2rem
                color: black
                margin-right: 35px
                line-height: 6.5rem
                color: $primary-color
                
                &:hover
                    color: $accent-color

#landing
    text-align: center
    margin-top: 8rem

    .logo
        width: 10rem

    .title
        letter-spacing: .2rem

    .row
        text-align: center
        margin-top: 8rem

        .feature img
            width: 5rem
            display: block
            text-align: center
            margin: 2rem auto

.bar
    height: 3rem
    padding: 5px
    margin-bottom: 20px
    border-bottom: 1px solid #E1E1E1

    a
        color: $primary-color
        height: 3rem

        &:link
            text-decoration: none

    p
        display: inline
        float: left

.user-profile
    text-align: left

    .profile-image
        display: inline
        float: left

        img
            width: 5rem
            border-radius: 4px

    .profile-name
        display: inline
        float: left
        padding-left: 10px
        max-width: 150px

        p
            margin: 0
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis

#dashboard
    .guild
        a
            &:hover
                color: $accent-color

        .guild-icon
            display: inline
            float: left

            img
                width: 3rem
                border-radius: 4px

            .checkmark
                width: 1.5rem
                margin-left: -13px
                margin-bottom: -3px

        .guild-name
            display: inline
            float: left
            padding-top: 5px
            padding-left: 10px
            height: 0rem

    .module
        a
            &:hover > .module-name
                color: $accent-color

        .module-name
            font-weight: bold

        .module-description
            p
                opacity: 0.8
                margin-left: 20px

        .module-enabled
            float: right

            .button
                border: none

#footer
    position: fixed
    bottom: 10px