$primary-color: #222
$accent-color: #ee720d
$light-gray: #e0e0e0
    
body
    background: $light-gray

#navigation
    ul
        list-style: none
        li
            display: inline
            a
                text-decoration: none
                text-transform: uppercase
                font-weight: bold
                font-size: 11px
                letter-spacing: .2rem
                color: black
                margin-right: 35px
                line-height: 6.5rem
                color: $primary-color
                
                &:hover
                    color: $accent-color