$primary-color: #222
$accent-color: #ee720d

.button-primary
    background-color: $accent-color !important
    border-color: $accent-color !important

body
    background: white

#navigation
    ul
        list-style: none
        text-align: center

        li
            display: inline

            a
                text-decoration: none
                text-transform: uppercase
                font-weight: bold
                font-size: 11px
                letter-spacing: .2rem
                color: black
                margin-right: 35px
                line-height: 6.5rem
                color: $primary-color
                
                &:hover
                    color: $accent-color

#landing
    text-align: center
    margin-top: 8rem

    .logo
        width: 10rem

    .title
        letter-spacing: .2rem

#features
    text-align: center
    margin-top: 8rem

    .feature img
        width: 8rem
        display: block
        text-align: center
        margin: 2rem auto