<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="BotMyst is a general purpose Discord bot.">
    <meta name="author" content="CodeMyst">

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">    

    <link rel="shortcut icon" type="image/ico" href="~/img/favicon.ico">

    <title>BotMyst</title>
    <link rel="stylesheet" href="~/build/stylesheets/normalize.css">
    <link rel="stylesheet" href="~/build/stylesheets/skeleton.css">
    <link rel="stylesheet" href="~/build/stylesheets/index.css" />

    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/main.js"></script>
</head>
<body>

<div class="container">

    @await Html.PartialAsync("NavigationBar")

    @RenderBody()

    @await Html.PartialAsync("Footer")

</div>

</body>
</html>