@model DiscordGuild

<nav class="row" id="currentGuild">
    <div class="twelve columns">
        <div class="logo">
            @{
                string guildIconUrl = $"https://cdn.discordapp.com/icons/{Model.Id}/{Model.Icon}.png";
            }
            <img src="@guildIconUrl" />
            <p>@Model.Name</p>
        </div>
    </div>
</nav>