<div class="row" id="navigation">
    <div class="twelve columns">
        <ul>
            <li><a href="/">Home</a></li>
            <!-- TODO: Add invite -->
            <li><a href="/">Invite</a></li>
            <li><a asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
            <li><a href="https://github.com/CodeMyst/BotMyst/issues" target="_blank">Report bugs</a></li>
            <li><a href="https://github.com/CodeMyst/BotMyst/" target="_blank">GitHub</a></li>
        </ul>
    </div>
</div>