<div class="row" id="navigation">
    <div class="twelve columns">
        <ul>
            <li><a href="#landing">Home</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="https://discordapp.com/oauth2/authorize?client_id=357196134298419200&scope=bot" target="_blank">Invite</a></li>
            <li><a href="https://github.com/CodeMyst/BotMyst/issues" target="_blank">Report Bugs</a></li>
            <li><a href="">Dashboard</a></li>
            <li><a href="https://github.com/CodeMyst/BotMyst" target="_blank">GitHub</a></li>
        </ul>
    </div>
</div>