<div class="popup-container">
    <div class="popup role-popup">
        <h6 class="popup-title sub-header">Select a role</h6>
        <p class="sub-p">For: Role Whitelist</p>
        <div class="popup-content">
            <ul>
                <li><a href="#" style="border-color: rgb(231, 76, 60)">Server Admin</a></li>
                <li><a href="#" style="border-color: rgb(230, 126, 34)">Moderator</a></li>
                <li><a href="#" style="border-color: rgb(0, 128, 129)">Supporter</a></li>
                <li><a href="#" style="border-color: rgb(155, 89, 182)">Guru</a></li>
                <li><a href="#">@@everyone</a></li>
            </ul>
        </div>
        <div class="popup-close">
            <a class="button" href="#">CLOSE</a>
        </div>

        <div style="clear:both"></div>
    </div>
</div>