#commandOptions
{
    .commandDescription
    {
        .commandName
        {
            display: inline-block;
        }

        .commandSummary
        {
            margin-top: 2rem;
        }

        .commandEnabled
        {
            float: right;

            .enabled
            {
                color: $color-range;
            }
        }
    }

    .option
    {
        .name
        {
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            margin-bottom: 1rem;
        }
    }
}