#home
{
    padding-top: 5vh;

    .landing
    {
        text-align: center;

        .logo
        {
            margin: 0 auto;
            
            img
            {
                width: 30rem;
            }
        }

        h1
        {
            color: $color-range;
            font-weight: bold;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            margin-top: -10rem;
        }

        h2
        {
            color: $color-white;
            font-size: 1.75rem;
            margin-top: -2rem;
            font-weight: 300;
        }
    }
}

@media all and (min-width: 600px)
{
    #home
    {
        .landing
        {
            h2
            {
                font-size: 2rem;
            }
        }
    }
}