.button {
  border-radius: 0.3rem;
  font-size: 1.25rem;
  background-color: #222222;
  border: none;
  color: #ffffff;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2); }
  .button:focus, .button:hover {
    color: #ffffff; }

.button.button-primary {
  background-color: #ee720d;
  border: none; }
  .button.button-primary:focus, .button.button-primary:hover {
    background-color: #ee720d; }

#currentGuild {
  margin-top: 0rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  max-height: 40px;
  overflow: hidden; }
  #currentGuild .logo {
    display: inline-block;
    height: 40px; }
    #currentGuild .logo img {
      border-radius: 0.3rem;
      width: 30px;
      padding-top: 0.5rem;
      margin-right: 0.5rem;
      float: left; }
    #currentGuild .logo p {
      line-height: 40px;
      float: left;
      letter-spacing: 0.1rem; }

.guild {
  margin-bottom: 1rem;
  padding: 1rem;
  padding-left: 0; }
  .guild a {
    color: #ffffff; }
  .guild .guildIcon {
    float: left;
    height: 40px;
    margin-right: 1.5rem; }
    .guild .guildIcon img {
      width: 40px;
      border-radius: 0.3rem; }
    .guild .guildIcon .checkmark {
      width: 15px;
      position: absolute;
      margin-top: -1.75rem;
      margin-left: 3rem; }
  .guild .guildName {
    float: left; }
    .guild .guildName p {
      margin: 0;
      letter-spacing: 0.1rem;
      line-height: 40px; }

.blobList ul {
  background-color: #222222;
  border-radius: 0.3rem;
  padding-top: 10px;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2); }
  .blobList ul li {
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 0.3rem;
    padding: 5px 10px;
    margin-right: 10px;
    margin-left: 10px; }
    .blobList ul li .blobRemove {
      float: left;
      width: 7px;
      border: 1px solid #ffffff;
      padding: 2px;
      border-radius: 100%;
      margin-top: 3px;
      margin-right: 5px; }
    .blobList ul li .blobText {
      float: left;
      margin: 0;
      color: #ffffff;
      font-size: 1.3rem; }
  .blobList ul .blobAdd .button {
    width: 100%;
    box-shadow: none;
    background-color: #ee720d;
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

header {
  padding-bottom: 7.5rem; }
  header nav {
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 1.5rem;
    padding: 0 1rem;
    background-color: #222222;
    border-radius: 0.3rem;
    max-height: 40px;
    overflow: hidden;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2); }
    header nav .logo {
      display: inline-block; }
      header nav .logo img {
        padding-right: 0.5rem;
        width: 35px; }
      header nav .logo .avatar {
        width: 30px;
        border-radius: 0.3rem;
        padding-top: 0.5rem;
        float: left; }
      header nav .logo .username {
        margin: 0;
        padding-top: -1rem;
        float: left;
        line-height: 40px;
        height: 40px;
        color: #ffffff;
        letter-spacing: 0.1rem; }
        header nav .logo .username .logout {
          letter-spacing: initial;
          font-size: 1.1rem; }
          header nav .logo .username .logout a {
            color: #777777;
            text-decoration: none; }
    header nav .menuToggle {
      float: right;
      padding: 0.25rem 0.5rem;
      padding-top: 0.8rem;
      color: #ffffff;
      font-weight: bold;
      text-decoration: none;
      letter-spacing: 0.1rem;
      -webkit-transition: all 150ms ease-in-out;
      -moz-transition: all 150ms ease-in-out;
      -ms-transition: all 150ms ease-in-out;
      -o-transition: all 150ms ease-in-out;
      transition: all 150ms ease-in-out; }
      header nav .menuToggle i {
        margin-left: 0.75rem; }
      header nav .menuToggle:hover {
        color: #ee720d; }
    header nav ul {
      list-style-type: none;
      padding-left: 0.75rem;
      margin-bottom: 0;
      display: none; }
      header nav ul li a {
        color: #ffffff;
        text-decoration: none;
        letter-spacing: 0.1rem;
        -webkit-transition: all 150ms ease-in-out;
        -moz-transition: all 150ms ease-in-out;
        -ms-transition: all 150ms ease-in-out;
        -o-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out; }
        header nav ul li a:hover {
          color: #ee720d; }
  header nav.navigationActive {
    max-height: 200px; }
    header nav.navigationActive ul {
      display: block; }

@media all and (min-width: 600px) {
  header nav .menuToggle {
    display: none; }
  header nav ul {
    display: block;
    float: right;
    padding: 0 1rem;
    padding-top: 0.8rem; }
    header nav ul li {
      display: inline-block;
      margin-left: 2rem; } }
#home {
  padding-top: 5vh; }
  #home .landing {
    text-align: center; }
    #home .landing .logo {
      margin: 0 auto; }
      #home .landing .logo img {
        width: 30rem; }
    #home .landing h1 {
      color: #ee720d;
      font-weight: bold;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      margin-top: -10rem; }
    #home .landing h2 {
      color: #ffffff;
      font-size: 1.75rem;
      margin-top: -2rem;
      font-weight: 300;
      letter-spacing: 0.1rem; }

@media all and (min-width: 600px) {
  #home .landing h2 {
    font-size: 2rem; } }
#commandList .commandSearch input {
  width: 100%;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2); }
#commandList .moduleName {
  font-weight: bold;
  letter-spacing: 0.1rem; }
#commandList .command {
  background: #222222;
  color: #ffffff;
  border-radius: 0.3rem;
  display: block;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2); }
  #commandList .command p {
    margin: 0; }
  #commandList .command .commandName {
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-bottom: 1rem; }
    #commandList .command .commandName img {
      width: 10px; }

#commandOptions .commandDescription .commandName {
  display: inline-block; }
#commandOptions .commandDescription .commandSummary {
  margin-top: 2rem; }
#commandOptions .commandDescription .commandEnabled {
  float: right; }
  #commandOptions .commandDescription .commandEnabled .enabled {
    color: #ee720d; }
#commandOptions .option .name {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem; }

body {
  background: #141414;
  font-family: "Raleway", sans-serif;
  color: #ffffff; }

a {
  color: #ee720d;
  text-decoration: none;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out; }
  a:active {
    color: #777777; }
  a:hover {
    color: #ffffff; }

h6 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: normal; }

input[type=text] {
  background-color: #222222;
  border: none;
  border-radius: 0.3rem;
  color: #ffffff; }
  input[type=text]:focus {
    outline: none;
    border: none; }

form {
  margin: 0; }

hr {
  border-color: #777777; }

/*# sourceMappingURL=index.css.map */
