@model CommandList

<section id="commandList">
    @if (Model.BotMystGuild.HasBotMyst == false)
    {
        <!-- TODO: Add a proper invite link. -->
        <p>BotMyst isn't on the <strong>@Model.BotMystGuild.Guild.Name</strong> server. You can add it by visiting <a href="#">this link</a>.</p>
    }
    else
    {
        @await Html.PartialAsync("CurrentGuildBar", Model.BotMystGuild.Guild)

        <h6>Available commands:</h6>

        foreach (ModuleDescription moduleDescription in Model.ModuleDescriptions)
        {
            
        }
    }
</section>
