<section id="home">

    <div class="landing">

        <div class="logo">
            <img src="~/img/logo.svg" />
        </div>

        <h1>BotMyst</h1>

        <h2>Highly customizable Discord bot</h2>

        <!-- TODO: Create a proper invite link -->
        <a href="#" class="button button-primary">Invite</a>
        <a href="/Dashboard" class="button">Dashboard</a>

    </div>

</section>