<section id="landing">
    <img src="~/img/BotMystLogoTransparent.png" alt="Logo" class="logo">
    <h1 class="title">BotMyst</h1>
    <h4 class="subtitle">A highly customizable, general purpose Discord bot.</h2>
    <a href="https://discordapp.com/oauth2/authorize?client_id=357196134298419200&scope=bot" class="button button-primary" target="_blank">INVITE</a>

    <div class="row">
        <div class="four columns feature">
            <img src="~/img/pen-icon.svg" alt="Pen Icon">
            <p>Many options for customization per server. Each module can be enabled / disabled and modified.</p>
        </div>

        <div class="four columns feature">
            <img src="~/img/modules-icon.svg" alt="Modules Icon">
            A lot of modules ranging from fun commands to moderation ones.
        </div>

        <div class="four columns feature">
            <img src="~/img/opensource-icon.svg" alt="Open Source Icon">
            Completely open source. You can take a look at every part of BotMyst. If you are a developer you can also contribute.
        </div>
    </div>
</section>